<!DOCTYPE html>
<html>
<head>
    <title>Alex Filipek</title>
    <link href='/stylesheets/bootstrap.css' rel='stylesheet'>
    <link type="text/css" href="stylesheets/bottom.css" rel="stylesheet" />
    <link href='/stylesheets/style.css' rel='stylesheet'>
    
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body>
    <span id="signature" style="font-weight: bold">Alexander Filipek</span>
    <span id="textAfterSignature">a Node.js and Ruby on Rails full stack web developer living
    outside of Boston</span>

	<div class="bootstrap">

    <nav id="my-navbar" class="navbar navbar-inverse" style=
    "margin-top:0px;background-color:">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand" id="contactInformation">
                    <span style=
                    "margin-right:10px;font-size:16px"><strong>Phone:</strong>
                    (508) 247-7419</span> <span id="email" style=
                    "font-size:16px"><strong>E-mail:</strong>
                    awfilipek@gmail.com</span>
                </div><button class="navbar-toggle collapsed" data-target=
                "#bs-example-navbar-collapse-1" data-toggle="collapse" type=
                "button"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
            </div>

            <div class="collapse navbar-collapse" id=
            "bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="links">
                    <li>
                        <a href="#about">About</a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href=
                        "#">Portfolio <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="#PicStreamer">Pic Streamer</a>
                            </li>
                            <li>
                                <a href="#3dMultiplayerMaze">3d Multiplayer Maze</a>
                            </li>
                          	 <li>
                                <a href="#Titan">Titan</a>
                            </li>
                            <li>
                                <a href="#Commotion">Commotion</a>
                            </li>

                            <li>
                                <a href="#GeoMusic">Geomusic</a>
                            </li>

                            <li>
                                <a href="#RecipeProgram">Recipe Program</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div> 
    </nav>
    </div><!--
        <div id="chess" style="display:inline;float:left;position:absolute;top:40px;left:40px"> 
        
            <h3 style="margin-top:60px;font-size:18px">World Championship (1972)</h3>   
            <h3 style="font-size:18px;margin-top:10px">Game 8</h3>  
            <h4 style="position:absolute;left:152px;font-weight:bold">Spassky</h4>
        
            <div class="board" style="border-style:solid;border-width:2px;height:228px;width:228px;margin-left:75px;margin-top:40px">
            
                <% for(var i=0; i<8; i++) {%>
                
                    <div class="row" style="margin-left:0px">
    
                        <% for (var j=0; j<8; j++) { %>
    
                            <div id=<%=j+i*8%> class="space" style="width:28px;height:28px;display:inline;float:left; background-color:#FFFFFF;margin-right:0px">
                                <div class="piece">
                                    <img style="width:25px; height:25px"></img>
                                </div>
                            </div>
    
                        <% } %>
        
                    </div>
                    
                <% } %>
        
            </div>
        
            <h4 style="position:absolute;left:157px;top:380px;font-weight:bold">Fischer</h4>
        
        </div>
-->
    <!--    
        <div id="nav">
            <ul>
                <li data-toggle="modal" data-target="#myModal"><a id="contactbutton">Contact</a></li>
                <li><a href="/#portfolio">Portfolio</a></li>
                <li><a href="/#about">About</a></li>
            </ul>
        </div>
        -->
    <!--End of jumbotron
    </div>-->

    <div id="backimage">

        <div id="content">
    
            <div class="col-md-12 col-sm-12 col-xs-12 bootstrap" id="about">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <img height="180" src="images/fun_profile3.jpg" style=
                    "border-radius:10px;position:relative;float:left;margin-right:20px;margin-top:13px"
                    width="127">

                    <h4><strong>Bio</strong></h4>

                    <p>My name is Alexander Filipek and I have a background in using both the
                    Node.js and Ruby on Rails web frameworks.  I like to constantly learn
                    and work with new languages and tools.  I graduated from the University of
                    Massachusetts Amherst majoring in Computer Science in
                    2014.  Since then I've been learning everything and anything I can about all aspects
                    of web development.</p>

                    <p>I enjoy working with Ruby on Rails as I find myself to be the most productive and organized with it.  I
                    have worked with all levels of the stack and have enough varied experience to understand some of the deeper
                    issues of web development.</p>
                    
                
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12" style=
                "padding-left:20px">
                    <h4><strong>Technical Skills</strong></h4>

                    <ul>
                        <li style="margin-bottom:5px"><strong>Web Frameworks:</strong>
                        Node.js, Ruby on Rails</li>
                        
                        <li style="margin-bottom:5px"><strong>Front End: </strong>HTML, CSS, Javascript, JQuery, Angular.js, Ejs, Haml</li>
                        
                        <li style="margin-bottom:5px"><strong>Good Experience: </strong>Ruby on Rails, Ruby,
                        Angular.js, Python, and SQL </li>
                        
                        <li style="margin-bottom:5px"><strong>Databases: </strong>MongoDB and MySQL</li>
                        
                        <li style="margin-bottom:5px"><strong>Programming Languages: </strong>Java, Ruby, Python, C/C++</li>
             
                    </ul>

                </div>
          
            </div>

            <div id="portfolio">
                <center><span id="portfolioText">Portfolio</span><br></center>
                <hr>
					
                <div class="col-md-12 col-sm-12 col-xs-12 project_item" id="PicStreamer">
                    <center>
                         <b class="project-title">Pic Streamer</b><br>
                    </center>

							       	<div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px; margin-left:0px">
							<a href="http://picstreamer.herokuapp.com">
							<img src="images/picstreamerScreenShot2.png" width="570px" height="320px" style="border-radius:5px;margin-top:30px;margin-right:25px"></img>                    	
							</a>							
							
								<div class="github_link">
								<p>
									<strong>Source: </strong>
								    <a href="https://github.com/billyshears314/PicStreamer"
                       	 		style="color:#3e3e29;font-size:16px">https://github.com/billyshears314/PicStreamer</a>
                       	 </p>
                       	 <p>
                       	 <strong>Demo: </strong>
                       	 	 <a href="http://picstreamer.herokuapp.com"
                       	 		style="color:#3e3e29;font-size:16px">http://picstreamer.herokuapp.com</a>
                       	 </p>
                        </div>
							</div>

                    <div class="project-content col-md-5 col-sm-12 col-xs-12">
                        <div class="project-subsection">
                            <div class="project-subtitle">
                                When?
                            </div>

                            <p>2014 (November)</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Who was the project for?
                            </div>

                            <p>Myself</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                What was used?
                            </div>

                            <p>Ruby on Rails, Instagram API, Google Maps API</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Project Description
                            </div>

                            <p>See a stream of real time Instagram pictures being uploaded by their hashtag.  
                            Also, there is a google map that pans to the location of each new picture and adds 
                            a pin.  The green pin shows the current pic location and red pins show the positions of 
                            past pictures streamed.</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                My Role
                            </div>

                            <ul>
                                <li>Set a timer to an Ajax request to get recent Instagram pics by their hashtag using the Instagram API.</li>

                                <li>Added implementation of Google Maps API to use location data from Instagram pics to pan to their location and add a pin.</li>

                                <li>Optimized web app to make a request for a group of pictures rather than an individual pic at a time and to cache the rest.</li>
                                
                                <li>Designed and styled page
                            </ul>
                        
                        </div>
                    </div>
   
                    </div><!--End of Pic Streamer-->
					
					<hr class="col-md-12 col-sm-12 col-xs-12">
					
					<div class="col-md-12 col-sm-12 col-xs-12  project_item" id="3dMultiplayerMaze">
                    <center>
                        <b class="project-title">3d Multiplayer Maze</b><br>
                    </center>

                    <div class="project-content col-md-5 col-sm-12 col-xs-12">
                        <div class="project-subsection">
                            <div class="project-subtitle">
                                When?
                            </div>

                            <p>2014 (October)</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Who was the project for?
                            </div>

                            <p>Myself</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                What was used?
                            </div>

                            <p>Node.js, Webgl, Three.js, Socket.io, Keyboard.js</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Project Description
                            </div>

                            <p>Find your way out of a 3d Maze.  Other players can go to the site to enter the maze and compete against you.</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                My Role (Everything)
                            </div>

                            <ul>
                                <li>Designed and programmed the creation of the 3d maze</li>
                                <li>Implemented the control system to work with the camera</li>
                                <li>Added multiplayer functionality using Socket.io</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px; margin-left:0px">
                    	
                    		<img src="images/maze.png" width="570px" height="320px" style="border-radius:5px;margin-top:30px;margin-left:25px;border-style:solid;border-width:3px"></img>
									<div class="github_link" style="margin-left:25px">			
									<p>
										<strong>Source: </strong>						
										<a href="https://github.com/billyshears314/3dMazeMultiplayer"
                        		style="color:#3e3e29;font-size:16px">https://github.com/billyshears314/3dMazeMultiplayer
                       	 		</a>
                       	 	</p>
                       		</div>
							</div>
   
                    </div><!--End of 3d Maze Multiplayer-->
					
					<hr class="col-md-12 col-sm-12 col-xs-12">
					
					 <div class="col-md-12 col-sm-12 col-xs-12  project_item" id="Titan">
                    <center>
                        <b class="project-title">Titan</b><br>
                    </center>                    
                    
                    	<div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px; margin-left:0px">

							<img src="images/titanScreenShot.png" width="570px" height="320px" style="border-radius:5px;margin-top:30px;margin-right:25px"></img>                    	
		
								<div class="github_link">
									<p>
									<strong>Source: </strong>									
									<a href="https://github.com/billyshears314/Titan"
                       		 style="color:#3e3e29;font-size:16px">https://github.com/billyshears314/Titan
                        	</a>
                        	</p>
                        </div>
							</div>

                    <div class="project-content col-md-5 col-sm-12 col-xs-12">
                        <div class="project-subsection">
                            <div class="project-subtitle">
                                When?
                            </div>

                            <p>2014 (August-September)</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Who was the project for?
                            </div>

                            <p>Myself</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                What was used?
                            </div>

                            <p>Node.js, Express Framework, Angular.js, Socket.io</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Project Description
                            </div>

                            <p>This is based on the board game Titan.  It allows for battles to be created and played online using websockets.</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                My Role
                            </div>

                            <ul>
                                <li>Designed the board and all of its elements to look and behave correctly</li>
                                <li>Programemd the Drag/Drop interface for moving creatures</li>
                                <li>Created a system to communicate between players and server using Angular.js and Socket.io</li>
                            </ul>
                        </div>
                    </div>
   
                    </div><!--End of Titan-->

					<hr class="col-md-12 col-sm-12 col-xs-12">					

                <div class="col-md-12 col-sm-12 col-xs-12  project_item" id="Commotion">
                    <center>
                        <b class="project-title">ComMotion</b><br>
                    </center>

                    <div class="project-content col-md-5 col-sm-12 col-xs-12">
                        <div class="project-subsection">
                            <div class="project-subtitle">
                                When?
                            </div>

                            <p>2014 (January-May)</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Who was the project for?
                            </div>

                            <p>Group Project for Web Development Class</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                What was used?
                            </div>

                            <p>Node.js, Express Framework, PostgreSQL, JQuery
                            Ui, Git/GitHub</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Project Description
                            </div>

                            <p>ComMotion was a fitness website which relied on
                            user generated data. Users would be able to
                            create/edit exercises and workouts which other
                            users could then browse through.</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                My Role
                            </div>

                            <ul>
                                <li>Creating the layout and design for most of
                                the pages</li>

                                <li>Connecting the front end to work with the
                                back end</li>

                                <li>Also made a few custom complex SQL
                                queries</li>
                            </ul>
                        </div>
                    </div>
   
                    	<div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px; margin-left:0px">
	                    	<div class="pikachoose horizontal"  style="padding-top:25px">
	
									<ul id="pikame" class="jcarousel-skin-pika">
										<li><img src="images/commotion/create_exercise.png"/><span>Fill out this form to create an exercise</span></li>
										<li><img src="images/commotion/create_profile.png"/><span>Fill out this form to fill in your user information</span></li>
										<li><img src="images/commotion/create_workout.png"/><span>Search for exercises, then drag and drop them over to create a workout</span></li>
										<li><img src="images/commotion/exercise.png"/><span>Here is entry information for the Squat exercise</span></li>
										<li><img src="images/commotion/exercise_results.png"/><span>A list of close match exercises is returned after you search for them</span></li>
										<li><img src="images/commotion/favorites.png"/><span>Find all of your favorite exercises and workouts in this one location</span></li>
										<li><img src="images/commotion/findusers.png"/><span>You can see the most popular users or search for others on the left</span></li>
										<li><img src="images/commotion/followers.png"/><span>See who your followers are</span></li>
										<li><img src="images/commotion/locker.png"/><span>Post a message/See messages of people you are following</span></li>
										<li><img src="images/commotion/profile.png"/><span>Look at user information</span></li>	
										
									</ul>
								</div>
								<div class="github_link" style="margin-left:90px;margin-top:10px">
								<p>
									<strong>Source: </strong>
									<a href="https://github.com/r3d3y3/ComMotion"
                        	style="color:#3e3e29;font-size:16px">https://github.com/r3d3y3/ComMotion
                       	 	</a>
                       	 </p>
                        </div>
							</div>
                    </div><!--End of ComMotion-->
             
                <hr class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-12 col-sm-12 col-xs-12  project_item" id="GeoMusic">
                    <center>
                        <b class="project-title">GeoMusic</b><span style="position:absolute; top:-5px"><img src=
                        "images/geomusic_icon.png" style=
                        "width:45px; height:45px;margin-left:10px"><br></span>
                    </center>
                    
                 		<div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px; margin-left:0px">
                 			<div class="pikachoose vertical"  style="padding-top:25px">
	
									<ul id="pikame2" class="jcarousel-skin-pika">
										<li><img src="images/geomusic/zoomout.png"/></li>
										<li><img src="images/geomusic/normalzoom.png"/></li>
										<li><img src="images/geomusic/zoomin.png"/></li>
										<li><img src="images/geomusic/musicplayer.png"/></li>
									</ul>
							 	</div>
						  	</div>

                    <div class="project-content col-md-5 col-sm-12 col-xs-12">
                        <div class="project-subsection">
                            <div class="project-subtitle">
                                When?
                            </div>

                            <p>2013 (January-May)</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Who was the project for?
                            </div>

                            <p>Group Project for Software Engineering Class</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                What was used?
                            </div>

                            <p>Android SDK, Google Maps API</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Project Description
                            </div>

                            <p>The idea behind GeoMusic was to combine people
                            otherwise isolated in listening to their music by
                            allowing them to share what music they are
                            listening to which can then be seen by all users on
                            a Google Map, with additional pin markers showing
                            users with information such as Song and Artist.</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                My Role
                            </div>

                            <ul>
                                <li>Front end for login/signup and
                                settings</li>

                                <li>Adding Google Maps functionality</li>

                                <li>Adjusting bitmaps of pins on map to look
                                and behave pixel perfectly</li>
                            </ul>
                        </div>
                    </div><!--End of Geomusic-->
                </div>
                <hr class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-12 col-sm-12 col-xs-12" id="RecipeProgram">
                    <center>
                        <b class="project-title">Recipe Program</b><br>
                    </center>


                    <div class="project-content col-md-5 col-sm-12 col-xs-12">
                        <div class="project-subsection">
                            <div class="project-subtitle">
                                When?
                            </div>

                            <p>2012 (June-July)</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Who was the project for?
                            </div>

                            <p>A friend of mine</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                What was used?
                            </div>

                            <p>Java</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                Project Description
                            </div>

                            <p>This is a program I worked on alone at the
                            request of a friend of mine. The idea is that you
                            can input recipes and then search through them
                            either by name or by ingredients. Then you can see
                            the recipe for the meal you select in a nice standard
                            format.</p>
                        </div>

                        <div class="project-subsection">
                            <div class="project-subtitle">
                                My Role (everything)
                            </div>

                            <ul>
                                <li>Creating a system to create, read, update,
                                and delete recipes saved to text files</li>

                                <li>Designing layout and functionality</li>

                                <li>Testing and Debugging</li>
                            </ul>
                        </div>
                    </div>
                      <div class="col-md-6 col-sm-12 col-xs-12  project_item" style="padding-left:0px; margin-left:0px">
                 			<div class="pikachoose horizontal"  style="padding-top:25px">
	
									<ul id="pikame3" class="jcarousel-skin-pika">
										<li><img src="images/recipe/main_screen.png"/><span></span></li>
										<li><img src="images/recipe/add_recipe.png"/><span></span></li>
										<li><img src="images/recipe/ingredient_search.png"/><span></span></li>
										<li><img src="images/recipe/individual_recipe.png"/><span></span></li>
									</ul>
							 	</div>
						  	</div>
                </div>
                
            </div>
        </div>
  	<script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <!--<script src="javascripts/chessboard.js"></script>
    <script src="javascripts/animation.js"></script>-->
    <script src="javascripts/bootstrap.js"></script> 

      <script type="text/javascript" src="javascripts/jquery.jcarousel.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery.pikachoose.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery.touchwipe.min.js"></script>
		<!--<script type="text/javascript" src="javascripts/colorchanger.js"></script>-->
		<script language="javascript">
			$(document).ready(
				function (){
					$("#pikame").PikaChoose({carousel:true});
					$("#pikame2").PikaChoose({carousel:true});
					$("#pikame3").PikaChoose({carousel:true});
				});
		
		</script>
</body>
</html>