body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  #background-image:url('../images/zigzag_background.png');
  background-size:29%;
  overflow-y: scroll;
  overflow-x: hidden;
	background-color:#EAEAE1;  
  #background-color:#031415;
  
}

*{
	font-family: "Verdana", cursive, sans-serif;	
}

h4{
	font-size:16px;	
}

p{
	text-align:justify;		
}

.title{
	font-size:20px;	
	}

#chess{
	color: #000000;	
	}

.jumbotron{
#background-image:url('../images/chess_game.jpg');
background-size:100%;
height:200px;
#width:1288px;
margin-top:-50px;
margin-left:-50px;
margin-right:-50px;
clip:rect(0, 0, 100px, 200px);
padding-top:20px;
}

#links > li > a, #links > li > ul > li > a{
	font-size:18px;
}

#backimage{
#background-image:url('../images/zigzag_background.png');
background-size:29%;
margin-top:-30px;
}

#content{
padding-left: 50px;
padding-right: 50px;
padding-top:30px;
color:#3e3e29;
}

#nav{
position:absolute;
top:15px;	
#left:910px;	
}

#nav > ul >li{
list-style-type: none;
/*background-color:#00FF00;*/
padding: 32px;
margin: 0px;
display: inline;
float: right;
font-size:27px;
vertical-align: middel;
 text-shadow: black 0.1em 0.1em 0.1em;
}
a{
color:#3e3e29;
text-decoration: none;
outline: 0;
font-family: "Times New Roman", Times, serif;
}
li:hover{
/*font-weight:bold;*/
}
#contactbutton:hover{
cursor: pointer;
}
a:hover{
	text-decoration: none;
}

@font-face{
	font-family: "My Custom Font";
	src: url(../fonts/Dawning_of_a_New_Day.ttf) format("truetype");
}

#signature {
	font-size:34px;
	color:#3e3e29;
	margin-left:10px;
   font-family: "My Custom Font", Verdana, Tahoma;
}

#textAfterSignature {
 #position:absolute;
 #top:75px;
 #left:440px;
 color:#3e3e29;
 font-size:16px;
}

#about{
	margin-bottom:30px;	
}
 
#portfolioText {
	font-size:54px;
	color:#3e3e29;
	font-family:Courier;
}

.project-type-title{
	font-size:20px;	
	font-family: 'Verdana', cursive, sans-serif;
}

.project-content{
	margin-top:25px;	
	
}

.project-title{
	font-size:24px;	
	text-align:center;
	font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
	}
	
.project-subtitle{
	font-size:17px;	
	font-weight: bold;
	}
	
.project-subsection{
	margin-bottom:15px;	
	}
	
#Commotion{
	margin-bottom:20px;		
}
#GeoMusic{
	margin-bottom:20px; 			
}
	
@media screen and (max-width: 992px){
	
	#textAfterSignature{
		display: block;	
		margin-left:10px;
	}	
	#content{
		padding-left:20px;	
		padding-right:20px;
	}
	.ad-gallery{
		width:100%;			
	}
}	
	
@media screen and (max-width: 767px){

	#content{
		padding-left:5px;
		padding-right:5px;	
	}
	

}	

@media screen and (max-width: 580px){
	
		.navbar-header{height:75px}
		#email{display:block}
		/*
		.jcarousel-skin-pika .jcarousel-clip-horizontal .horizontal{height: 130px; width: 485px;}
		.jcarousel-skin-pika .jcarousel-clip-horizontal .vertical{height:150px; width:485px;}
		
		.horizontal .pika-thumbs li{ width: 144px; height:74px; margin: 10px 0 0 17px; padding: 0; overflow: hidden;
		float: left; list-style-type: none;padding: 3px; margin: 0 6px; background: #fafafa; border: 1px solid #e5e5e5; cursor: pointer;}
	.vertical .pika-thumbs li { width: 83px; height:139px; margin: 10px 0 0 17px; padding: 0; overflow: hidden;
	*/
}
	/*
@media screen and (max-width: 800px) {
  a{
   font-size:46px;
   }
  p{
   font-size:32px;
   width:800px;
   }
  .title{
   font-size:50px;
  }
  .subtitle{
   font-size:42px;
  }
  li{
   padding: 40px;
  }
  #content{
   padding: 25px;
  }
  .jumbotron{
	max-width: 880px;
	max-height: 540px;
	background-size: 100%;
  }

}
*/